* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header h1 {
  margin-right: auto;
  font-size: 2.8rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: .15s ease-in-out;
}

nav a:hover {
  color: #d12b2b;
}

.titulo{
  color: #d12b2b;
}
#theme-toggle {
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  /* padding: 0.5rem 1rem; */
  border: none;
  cursor: pointer;
  /* border-radius: 5px; */
  transition: color 0.3s, ease;
}
.fas {
  transition: .2s ea;
}
.fa-sun:hover{
  color: #ffd104;
}
.fa-moon:hover{
  color: #b1b1b1;
}

#theme-toggle:hover {
  color: #ccc;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

/* Remover o efeito de hover apenas para o menu-toggle */
.menu-toggle:hover {
  background-color: transparent; /* Nenhuma alteração de cor no hover */
}

#nav-menu {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.dark-mode #theme-toggle .fas {
  content: "\f186"; /* Código do ícone da lua */
}

.dark-mode #theme-toggle:hover {
  color: #fff;
}

main {
  padding: 2rem;
}

.section-fetec {
  background-image: url('https://images.pexels.com/photos/218863/pexels-photo-218863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.section-fetec .container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  max-width: 600px;
}

.section-curso {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

.video-frame {
  flex: 1;
  height: 400px;
}

.container {
  flex: 1;
  padding: 1rem;
}

.video-frame iframe {
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.expo-item {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expo-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.expo-item h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.expo-item p {
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#d12b2b;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 1rem;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons i {
  color: #fff;
  font-size: 2rem;
}

/* Responsividade */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.8rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    background-color: #333;
    padding: 1rem;
    border-radius: 0 0 5px;
  }

  nav ul.show {
    display: block;
  }

  nav li {
    padding: 10px 0;
  }
  #nav-menu{
    margin-right: 0;
  }
  .menu-toggle {
    display: block;
    transition: .2s ease-in-out;
  }

  .menu-toggle:hover {
    color: #d12b2b;
  }

  .section-curso {
    flex-direction: column;
    display: unset;
  }

  .section-fetec {
    min-height: auto;
  }

  .video-frame {
    height: 500px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .expo-item img {
    height: 200px;
  }

  footer {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header h1 {
    font-size: 1.5rem;
  }

  nav ul {
    width: 100%;
    right: 0;
  }

  .section-fetec {
    padding: 1rem;
  }

  .section-curso {
    padding: 1rem 0;
    display: none;

  }

  .video-frame {
    height: 100%;
  }

  footer {
    font-size: 0.8rem;
  }

  #theme-toggle {
    font-size: 1.2rem;
  }
}
